body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 1154px;
    margin: 0px auto;
    padding: 1em;
    position: relative;
}
img{
    border-radius: 8px;
    position: relative;
    display: inline-flex;
    width: 45%;
}
img:hover{
    -ms-transform: scale(1.65); /* IE 9 */
    -webkit-transform: scale(1.65); /* Safari 3-8 */
    transform: scale(1.65);
    z-index: 1;
    padding: 1px;
    background-color: rgb(224, 93, 45);
}
h1{
    background-color: rgb(224, 93, 45);
    color: white;
    text-align: center;
}